In [1]:
import nltk
import pandas as pd

In [7]:
fake = pd.read_csv("sample_data/Fake.csv")
genuine = pd.read_csv("sample_data/True.csv")

In [8]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [9]:
display(genuine.head(10))

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5  White House, Congress prepare for talks on spe...  ...  December 29, 2017
6  Trump says Russia probe will be fair, but time...  ...  December 29, 2017
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...  December 29, 2017
8         Trump on Twitter (Dec 28) - Global Warming  ...  December 29, 2017
9  Alabama official to certify Senator-elect Jone...  ...  December 28, 2017

[10 rows x 4 columns]

In [10]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [11]:
fake['target']=0
genuine['target']=1

In [12]:
display(genuine.head(10))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1
6  Trump says Russia probe will be fair, but time...  ...      1
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...      1
8         Trump on Twitter (Dec 28) - Global Warming  ...      1
9  Alabama official to certify Senator-elect Jone...  ...      1

[10 rows x 5 columns]

In [13]:
display(fake.head(10))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...      0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...      0
8   Former CIA Director Slams Trump Over UN Bully...  ...      0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...      0

[10 rows x 5 columns]

In [14]:
data = pd.concat([fake,genuine], axis=0)

In [15]:
data = data.reset_index(drop=True)

In [16]:
data = data.drop(['subject','date','title'], axis=1)

In [17]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [18]:
from nltk.tokenize import word_tokenize

In [20]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [21]:
data['text']=data['text'].apply(word_tokenize)

In [22]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [23]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer('english')

In [24]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [25]:
data['text']=data['text'].apply(stem_it)

In [26]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [27]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [28]:
data['text']=data['text'].apply(stop_it)

In [29]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [30]:
data['text']=data['text'].apply(' '.join)

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data['text'],data['target'], test_size=0.25)
print('\n')
display(y_train.head())

13218    0
20715    0
19262    0
12885    0
9115     0
Name: target, dtype: int64

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [42]:
print(tfidf_train)

  (0, 72822)	0.37146571670083195
  (0, 15631)	0.2703099584637388
  (0, 39171)	0.21977276590374215
  (0, 63945)	0.24665697566593253
  (0, 38017)	0.29472515132962507
  (0, 60167)	0.26173819207711974
  (0, 9611)	0.13967004826017917
  (0, 10968)	0.2211881139439709
  (0, 13725)	0.21760566064167275
  (0, 77698)	0.19902170438773342
  (0, 17918)	0.12156172800637652
  (0, 81608)	0.15730003869471054
  (0, 81557)	0.2995799540076343
  (0, 52910)	0.26798810721689315
  (0, 35661)	0.18117759781793236
  (0, 65752)	0.24912512307243703
  (0, 76905)	0.2703099584637388
  (2, 29520)	0.7495634691351153
  (2, 88229)	0.20850317823195944
  (2, 21271)	0.2298832993758825
  (2, 91252)	0.35914381253962524
  (2, 90224)	0.37368585303848617
  (2, 40035)	0.27057217932884864
  (3, 68951)	0.024984649895066772
  (3, 71388)	0.018867422913096916
  :	:
  (33672, 89945)	0.0366949651290499
  (33672, 81515)	0.05777137433212318
  (33672, 88954)	0.019442177068483956
  (33672, 57155)	0.0342196957024526
  (33672, 76694)	0.02302368814930516
  (33672, 37155)	0.038311045946142784
  (33672, 70243)	0.02462028009013916
  (33672, 59356)	0.030456942924724985
  (33672, 7712)	0.03265664935202303
  (33672, 89078)	0.0164621412283155
  (33672, 63292)	0.020296527804827033
  (33672, 74096)	0.03401569008229611
  (33672, 74592)	0.02598530178921868
  (33672, 32967)	0.03566248678042501
  (33672, 64766)	0.10511866052737781
  (33672, 81380)	0.02441210779275172
  (33672, 37869)	0.015235676690242636
  (33672, 88710)	0.04053218078841372
  (33672, 51588)	0.023164284726067557
  (33672, 38015)	0.030393649064050014
  (33672, 58043)	0.044820146003883406
  (33672, 61606)	0.021487363880699113
  (33672, 81356)	0.038654347099013754
  (33672, 33467)	0.030721677486034472
  (33672, 81557)	0.017754492251060374

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [45]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

99.02004454342985

In [46]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter = 50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [47]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of Prediction is ', accscore*100)

The accuracy of Prediction is  99.72383073496658